*{box-sizing: border-box;}

body{
	background-color: #f6f6ff;
	color:black;
	font: normal 16px Arial, Hetvetica, sans-serif;
	line-height: 1.4em;
	margin: 0;
}

i{
	font-family: times-new-romans;
	font-size: 15px;
}

img{
	width: 250px;
	height: 250px;
	border-radius: 40%;
	float: right;
}

a{
	display: block;
	text-decoration: none;
	color: green;
}

a:hover{
	color: #000;
}
span{
	font-size: 13.5px;
	font-family: sans-serif;
}

.container{
	width: 80%;
	margin: auto;
}

.container h2{
	background-color: black;
	color:#f40;
	font-size:22px;
	padding: 10px;
	margin-top: 10px;
	width: 70%
}

.contain{
	width:30%;
	background-color: #ddd;
	float: right;
	line-height: 1em;
	margin-top: -35px;
	margin-right: 400px;
}

.skills{
	text-align:right;
	padding-top: 2px;
	padding-bottom: 2px;
	color: white; 
}

.active {width: 95%; background-color: #4caf50;}
.good{width: 80%; background-color: #2196F3;}
.computer{width: 90%; background-color: #f44336;}
.customer{width: 90%; background-color: #808080;}
.relation{width: 75%; background-color: #AB6B5E;}
.leadership{width: 80%; background-color: #93AF1B;}
.time{width: 90%; background-color: #4A6B6F;}
.problem{width: 90%; background-color: #506D68;}
.html{width: 70%; background-color: #9376A8;}

#intro{
	background-color: none;
	color:#40f;
	font-size:40px;
}

.list ul{
	list-style: circle;
	font-size: 15px;
	line-height: 1.6em;
	font-family: Hetvetica;
}
